.skiddle {
    position: absolute;
    left: 20vw;
    top: 15vw;
    width: 20vw;
    height: 20vw;
  }
  .eventbrite {
    position: absolute;
    Right: 20vw;
    top: 15vw;
    width: 20vw;
    height: 20vw;
  }
