.header {
  height: 10vw;
  width: 100vw;
  background-color: rgba(55, 150, 54, 1);
  text-align: center;
  display: flex;
  font-size: 2vw;
  padding-top: 3vw;
}
.menu {
  flex: 1;
}
.header a {
  list-style: none;
  display: inline-block;
  color: #FFF;
  flex: 2;
  text-transform: uppercase;
  line-height: 2;
}
.header a:hover {
  color: #c42805;
}
.logo {
  width: 15vw;
}
