body {
  width: auto;
  height: 100vh;
  background-image: url(./images/crowdBG.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.copy {
  color: #FFF;
  margin-top: 20px;
  font-size: 1.4vw;
}
@media screen and (max-width: 650px) {
  .copy {
    font-size: 2.4vw;
  }
}
.homeCopy {
  font-size: 5vw;
}
.App {
  text-align: center;
}
h3 {
  background-color: #000;
}
.artistIMG {
  display: flex;
  margin-top: 10vh;
}
.imgs {
  height: 30vh;
  flex: 3;
  flex-wrap: wrap;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
